- var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
- var nations = ["American", "Russian"]
- var years = 1995
- var days = 1
mixin page()
	+b('body').page&attributes(attributes)
		section.signup
			block signup-title 
				.signup-title 
					h1.signup-title__text Sign up
			block signup-form
				.signup-form
					h2.signup-form__title New user? 
					.signup-form__comment Use the form below to create your account.
					form.signup-form__form.form(action="post")
						label.form__label First Name
							input.form__field.form__field--text(type="text", placeholder="Alice")
						label.form__label Last Name
							input.form__field.form__field--text(type="text", placeholder="Miller")
						label.form__label Nationality
							select#nation.form__field.form__field--select(name="nation")
								option(value="American") American
								option(value="Russian") Russian
						label.form__label E-mail
							input.form__field.form__field--email(type="email", placeholder="alice.miller@yahoo.com", required)
						.form__date 
							.form__label.form__label--date Date of Birth
							.form__datepicker
								select#day.form__field.form__field--select.form__field--date(name="day")
									while days < 31
										option(value= days++)= days++
								select#month.form__field.form__field--select.form__field--date(name="month")
									each month in months
										option(value= month)= month
								select#year.form__field.form__field--select.form__field--date(name="year")
									while years < 2010 
										option(value= years++)= years++
						.form__gender
							.form__label Gender 
							.form__radiogroup								 
								input#Male.form__field.form__field--radio(type="radio", name="gender", value="Male")
								label.form__radiolabel(for="Male") Male
								input#Female.form__field.form__field--radio(type="radio", name="gender", value="Female")
								label.form__radiolabel(for="Female") Female
						label.form__label Password
							input.form__field.form__field--text(type="password", required)
						label.form__label Confirm Password
							input.form__field.form__field--text(type="password", required)
						.signup-form__login Have an account? 					
							a(href="#") Login
						button.signup-form__button(type="button") Complete Signup