.page
  padding 60px 68px
  background #F4F5FC
  @media screen and (max-width 680px)
    padding 0

.signup
  display flex
  align-items stretch
  width 665px
  height 480px
  @media screen and (max-width 680px)
    size (auto)
    flex-wrap wrap

.signup-title   
  display flex
  justify-content flex-end
  flex none

  padding 0 6px 22px

  width 138px

  background #5A61ED  
  box-shadow 0 12px 82px rgba(0, 0, 0, .2)
  @media screen and (max-width 680px)
    padding 10px
    size (100% auto)
    justify-content flex-start


.signup-title__text
  display flex
  align-items flex-end

  font-family 'PT Sans', sans-serif 
  font-size 49px
  font-weight normal  
  font-style normal
  line-height 63px
  letter-spacing .5px

  color #FFFFFF

  transform rotate(-180deg)

  writing-mode vertical-rl
  text-orientation mixed
  @media screen and (max-width 680px)    
    align-items flex-start
    transform none
    writing-mode initial
    text-orientation initial


.signup-form 
  flex auto

  padding 38px 22px 32px 20px

  background-color #fff
  retinaBackground(bg)  
  background-repeat no-repeat
  background-position 100% 100%
  background-size 308px 

  font-family 'Work Sans', sans-serif
  color #111111

  @media screen and (max-width 680px)
    padding-x 10px
  


.signup-form__title  
  font-size 22px
  font-weight 500
  font-style normal    
  line-height 26px  

.signup-form__comment
  font-size 14px
  font-weight 300
  font-style normal  
  line-height 16px

.signup-form__form
  margin-top 20px

.form
  display flex
  flex-wrap wrap
  justify-content space-between

  @media screen and (max-width 375px)
    flex-direction column

.form__label
  margin-top 16px

  display block
  width 49%
  
  font-size 12px
  font-weight 300  
  line-height 14px

  color #7C7C7C

  &--date
    width 100% 
  
  @media screen and (max-width 375px)
    width 100%


.form__field
  padding 0 15px 0 0

  display block
  width 100%
  height 25px
  font-size 14px
  line-height 16px

  color #111

  cursor pointer  
  background-color transparent
  border none
  border-bottom 1px solid #F2F2F2
  border-radius 0
  outline none  
   

  &:required:valid
    background-image url(../images/checked.svg)
    background-repeat no-repeat 
    background-position 100% 50%
     
  
  &--date
    flex auto
    width auto
    &:not(:last-child)
      margin-right 10px

  &--radio
    position relative
    margin-right 5px
    margin-left 1px
    flex none
    width 10px
    height 10px
    
   
    box-shadow none
    &:after      
      position absolute
      top -1px
      left -1px
      width 12px
      height 12px
      content ''     

      background-color #fff
      border .7px solid #5A61ED      
      border-radius 50%     

      z-index 1
      box-sizing border-box
    &:checked
      &:before
        position absolute
        z-index 2
        top 2px
        left 2px       
        
        width 6px
        height 6px

        content ''

        background-color #5A61ED
        border-radius 50%
        
        




.form__field--select
  padding-right 15px

  position relative

  background-image url(../images/select-arrow.svg)
  background-repeat no-repeat
  background-position 100% 50%    
    
  appearance none
      
  &::-ms-expand
    display none  

.form__date 
  width 49%
  @media screen and (max-width 375px)
    width 100%
  
.form__datepicker 
  display flex
  justify-content space-between

.form__gender
  width 49%
  @media screen and (max-width 375px)
    width 100%

.form__radiogroup
  margin-top 6px
  display flex  
  align-items center

.form__radiolabel
  margin-top 0
  margin-right 20px
  width auto
  
  font-size 14px
  line-height 16px

.signup-form__login
  margin-top 104px
  @media screen and (max-width 375px)
    margin-top 20px
    order 10

.signup-form__button
  margin-top 98px
  display flex
  align-items center
  justify-content center
  
  width 154px
  height 32px
  
  background #5A61ED
  border none

  font-family 'PT Sans', sans-serif
  font-size 14px  
  font-weight normal
  font-style normal
  line-height 18px

  color #FFFFFF

  @media screen and (max-width 375px)
    margin-top 20px
    width 100%

  

    

